{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1 class="text-center pt-5 pb-4">Inscription</h1>

	{{ include('user/_form.html.twig') }}

{% endblock %}
