#top{
    background-color: #585455;
    padding-top: 0;
    padding-bottom: 0;
}

#contain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#flex{
  align-items: center !important;
  justify-content: space-around  !important;
  display:flex  !important;
  flex-wrap: wrap  !important;
  width: 100%;
}

#restaurant{
  justify-content: space-around;
}

#meal{
  justify-content: space-around;
}

nav img{
  width: 7vw;
}

footer img{
  width: 7vw;
}

figure figcaption input{
  position:absolute;
  background:rgba(255,255,255, 0.9);
  width: 30vw;
  top:35vw;
  left:35vw;
  border: none;
  border-radius: 10px;
  padding: 1vw;
  text-align: center;
  
}

figure figcaption h5{
  position: absolute;
  width: 50px;
  background-color:rgb(32, 31, 31, 0.9);
  top: 13vw;
  right:3px;
  padding: 1 1vw;
  padding-bottom: 1vw; 
  border-radius: 10px;
  color:white ;
  font-size: medium;

}



button{
  background: #585455 !important;
  color: white  !important;
}

button :hover{
  color: white  !important;
}

nav a{
    color: white !important;
    text-decoration:none;
}

footer {
    background-color: #585455;
    margin-top: 8vw;
}

footer div a {
    color: white;
}

footer a :hover{
  color: white !important;
  text-decoration: none;
}

.footer-copyright {
    color: white;
}

img {
 width: 100%;
 height: auto;
}

main{
    display: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px  #585455;
    border-radius: 10px;
    background-color:  #585455;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px  #585455;
}

.styled:hover {
    background-color:  #585455;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px  #585455;
}


    
    .texte-image{
      display:flex;
      flex-wrap:wrap;
      overflow:hidden;
      margin-left:auto;
      margin-right:auto;
      justify-content:center;
      align-items:center;
     
    }
    
    .image-texte{
      display:flex;
      flex-wrap:wrap;
      overflow:hidden;
      margin-left:auto;
      margin-right:auto;
      justify-content:center;
      align-items:center;
    
      
    }
    
    
    .texte{
      width:50%;
      padding:40px;
      margin-top: -6vw;
      text-align: center;
      font-size: 18px;
    }
    
    .flexButton{
      justify-content: center;
      display: flex;
      margin-top: 3vw;
    }
    
    .flexButton button{
          background-color:  #585455;
          color: white;
    }

    .image{
      width:50%;
      height:500px;
      text-align:center;
      margin:auto;
      padding:40px;
    }

    form div{
      display: flex;
      justify-content: center;
      margin-bottom: 2vw;
}

    form div input{
      border-radius: 10px;
      border: solid 1px black;
      width: 20vw;
      padding: 5px;
    }


    form div label{
      margin-right: 4vw;
    }

    #user_roles_0{
      width: 5vw;
      margin-top: 6px;
    }

    #user_roles_1{
      width: 5vw;
      margin-top: 6px;

    }
    

    
    /* **************  POUR SMARTPHONE  ********************* */
    @media screen and (max-width:767.98px){
      .texte, .image{
       width:100%; 
       height: auto;
       
      }
     .image-texte{
        flex-direction:column-reverse;
       } 
       
       figure figcaption input{
        width: 60vw;
        left: 20%;
      }
    }
