#top{
    background-color: #585455;
    width: 100%;
    padding-top:30px ;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-around;
display:flex;
flex-wrap: wrap;
}

#top a img {
    width: 50%;
}

nav a{
    color: white;
   
    text-decoration:none;
}


footer {
    background-color: #585455;
    height: 20%;
}

footer div a {
    color: white;
}

.footer-copyright {
    color: white;
}

footer a img {
    width: 50%;
}

img {
 width: 100%;
 height: auto;
}



main{
    display: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px  #585455;
    border-radius: 10px;
    background-color:  #585455;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px  #585455;
}

.styled:hover {
    background-color:  #585455;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px  #585455;
}


    
    .texte-image{
      display:flex;
      flex-wrap:wrap;
      overflow:hidden;
      margin-left:auto;
      margin-right:auto;
      justify-content:center;
      align-items:center;
     
    }
    
    .image-texte{
      display:flex;
      flex-wrap:wrap;
      overflow:hidden;
      margin-left:auto;
      margin-right:auto;
      justify-content:center;
      align-items:center;
    
      
    }
    
    
    .texte{
      width:50%;
      padding:40px;
      margin:auto;
    }
    
    
    
    .image{
      width:50%;
      height:500px;
      text-align:center;
      margin:auto;
      padding:40px;
    }
    
    /* **************  POUR SMARTPHONE  ********************* */
    @media screen and (max-width:767.98px){
      .texte, .image{
       width:100%; 
       
      }
     .image-texte{
        flex-direction:column-reverse;
       }   
    }
