{% extends 'base.html.twig' %}

{% block title %}Restaurants!
{% endblock %}

{% block body %}
	<center>
		<h1 class="mt-4 mb-5">Découvrez nos restaurants</h1>
	</center>

	<div style="display: flex;justify-content: space-around;flex-wrap: wrap;">

		{% for restaurant in restaurants %}
			<div class="card mb-5" style="width: 24rem; border: none;">
				<a href="{{ path('restaurant_show', {'id':restaurant.id}) }}"><img src="{{ restaurant.logo }}" class="card-img-top" alt="..."></a>
				<div class="card-body">
					<h5 class="card-title">{{ restaurant.name }}
						({{restaurant.address}}
						)</h5>
					<p class="card-text">Les frais de livraison: 2,5€ . 10-20min</p>

				</div>
			</div>
			<br/>
		{% endfor %}
	</div>
{% endblock %}