<!-- Footer -->
<footer
	class="page-footer font-small ">

	<!-- Footer Links -->
	<div
		class="container text-center text-md-left">

		<!-- Grid row -->
		<div
			class="row" style="padding: 2vw 0 0 0;">

			<!-- Grid column -->
			<div
				class="col-md-3 mx-auto" style="margin-top: -2vw;">

				<!-- Links -->
		
			<a  href="{{ path('dev_eat') }}"><img src="{{ asset('image/' ~ 'logo.png') }}" alt="logo"></img></a>

			</div>
			<!-- Grid column -->

			<hr
			class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">


				<a href="#">Politique de confidentialité</a>

			</div>
			<!-- Grid column -->

			<hr
			class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">


				<a href="#">A propos de nous</a>


			</div>
			<!-- Grid column -->

			<hr
			class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">


				<a href="#">Mentions légales</a>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a href="{{ path('dev_eat') }}">
			Dev'Eat</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->
