{% extends 'base.html.twig' %}

{% block title %}Ajouter plat
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 mb-5">Ajouter un plat</h1>

	{{ include('meal/_form.html.twig') }}

{% endblock %}
