<form method="post" action="{{ path('admin_restaurant_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce restaurant ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
	<button class="btn">Supprimer</button>
</form>
